<div class="ui small breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <i class="right chevron icon divider"></i>
    {% if product.mainTaxon is not null %}
        {% set taxon = product.mainTaxon %}
        {% set ancestors = taxon.ancestors|reverse %}

        {% for ancestor in ancestors %}
       	  {% if ancestor.code != 'category' %}
            {% if ancestor.isRoot() %}
                <div class="section" style="display: none">{{ ancestor.name }}</div>
            {% else %}
                <a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}" class="section">{{ ancestor.name }}</a>
                <i class="right chevron icon divider"></i>
            {% endif %}
	  {% endif %}
        {% endfor %}

        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="section">{{ taxon.name }}</a>

        <i class="right chevron icon divider"></i>
    {% endif %}
    <div class="active section">{{ product.name }}</div>
</div>
