{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="ui raised link card centered">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
       class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <i class="huge eye icon"></i>
                    <p>{{ product.metaDescription }}</p>
                </div>
            </div>
        </div>
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
    </a>

    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
       class="content yokoso-ellipsis">
        <div class="header sylius-product-name">{{ product.name }}</div>
        {% if not product.variants.empty() %}
            <div class="sylius-product-price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
        {% endif %}
        <span class="sylius-product-blacktext">
            {{ product.shortDescription }}
        </span>
    </a>
    <div class="ui two bottom attached buttons">
        <div class="ui basic red yokoso-like button">{% include '@BitBagSyliusWishlistPlugin/_addToWishlist.html.twig' %}</div>
        <div class="ui yokoso button yokoso-add-to-cart" id="{{ product.slug }}">
            <a href="#">
                <i class="icon cart"></i> {{ 'yokoso.to_cart'|trans }}
            </a>
            <div class="ui tiny modal" id="yokoso-modal-{{ product.slug }}">
                <i class="close icon"></i>
                <div class="image content">
                    <div class="ui medium image">
                        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
                    </div>

                    <div class="description">
                        {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                            {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
                        {% endif %}
                        {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
