<div class="ui right inverted yokoso-red-bg menu">
    {{ render(url('bitbag_sylius_wishlist_plugin_shop_wishlist_render_header_template')) }}
    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
    <form action="{{ path('sylius_shop_product_index', {'code': 'category'}) }}"
          method="get" class="ui form">
        <div class="ui icon pointing dropdown yokoso-top-search item" id="yokoso-top-search">
            <i class="search icon"></i>
            <div class="menu yokoso-top-menu-bar">
                <div class="ui action input item" id="yokoso-top-search-input">
                    <input type="text" placeholder="{{ 'yokoso.search_all_inventory'|trans }}"
                           name="criteria[search][value]">
                    <button class="ui icon button" type="submit" id="yokoso-top-search-button">
                        <i class="search icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    {% if is_granted('ROLE_USER') %}
        <div class="ui pointing dropdown link item" id="sylius-user-dropdown">
            <span class="text sylius-user">{{ app.user.customer.fullName }}!</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ path('sylius_shop_account_dashboard') }}"
                   class="item">{{ 'sylius.ui.my_account'|trans }}</a>
                <a href="{{ path('sylius_shop_logout') }}"
                   class="item sylius-logout-button">{{ 'sylius.ui.logout'|trans }}</a>
            </div>
        </div>
    {% else %}

        <div class="ui pointing dropdown link item" id="sylius-user-dropdown">
            <span class="text sylius-user"><i class="user icon"></i></span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ path('sylius_shop_login') }}" class="item">
                    <i class="sign-in icon"></i>
                    {{ 'sylius.ui.login'|trans }}
                </a>
                <a href="{{ path('sylius_shop_register') }}" class="item">
                    <i class="user plus icon"></i>
                    {{ 'sylius.ui.register'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
</div>
